[submodule "external/CommonLibSSE-NG"]
	path = external/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG
[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
